.popup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: red; */
}

.popup button {
  border: 2px solid black;
  /* background-color: white; */
  background-color: transparent;
  cursor: pointer;
}
.popup button:hover {
  /* background-color: lightblue; */
  background-color: black;
  color: white;
}
