* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* .Nav button {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Nav button:hover {
  background-color: #456bb1;
} */

/* 
h1 {
  background-color: rgba(173, 216, 230, 0.5);
} */
