* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav button {
  /* background-color: blue; */
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Nav button:hover {
  background-color: #456bb1;
}
